body {
    background: url(../../img/tafel.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: verdana, sans-serif;
    color: bisque;
}
#container{
    width: 80%;
    margin: 2em 10% 2em 10%;
}



/* tabel */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}
.tg .tg-fqys {
    background-color: #333333;
    color: #ffffff;
    vertical-align: top
}
.tg .tg-fefd {
    
    vertical-align: top
}