body {
    font-family: Verdana, sans-serif;
    background-image: url(../img/background.png);
    background-attachment: fixed;
    
}
.wrapper {
    widows: 80%;
    margin: 3em 10% 3em 10%;
}
#profiel{
    position: relative;
    
    width: 20%;
    height: 20%;
    margin-left: 40%;
    
    
}
h3{
    text-decoration: underline;
    
}
h1{
    text-align: center;
    width:auto;
    border: 2px;
    border-radius: 0.25em;
    border-style: dotted;
    border-color: bisque;
}